//- layout.pug
html
  head
    title Guia Semaforo
    block scripts
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='This is where you place the meta description.')
      link(rel='stylesheet', href='assets/css/estilos.css')
      script(src='assets/js/uikit.min.js')
      script(src='assets/js/uikit-icons.min.js')
  body
    block content  